.hero{
   background-image: url('https://i k.imagekit.io/isqo0eqj9/portfolio%20project/demo-content-homepage-Creative-Department-Uncode.jpg?updatedAt=1747830638845');
  background-size: cover;
  background-position: center;
}